# === СЕКРЕТЫ ===
.env
.env.*
!.env.example

# === МОДЕЛЬ (хранится в ml/) ===
*.pkl
*.joblib

# === PYTHON ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === ВИРТУАЛЬНОЕ ОКРУЖЕНИЕ ===
venv/
.venv/
env/

# === JUPYTER  ===
*.ipynb
.ipynb_checkpoints/

# === СИСТЕМНОЕ ===
.DS_Store
Thumbs.db
